<!-- try to avoid and use defer -->
@if (classes$ | async; as teachers) {
  @if (teachers.length > 0) {
    <p-table
      [value]="teachers"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '50rem' }"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Modality</th>
          <th>Teacher</th>
          <th>Class Days</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-class>
        <tr [pEditableRow]="class">
          <td>{{ class.name }}</td>
          <td>{{ class.modality }}</td>
          <td>{{ class.teacher }}</td>
          <td>{{ class.weekDays | appWeekDays }}</td>
          <td class="text-center">
            <div class="flex align-items-center justify-content-center gap-2">
              <button
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="rowEditInit(class)"
                class="p-button-rounded p-button-text"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="card">
      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
      ></p-messages>
    </div>
  }
}
