@if (modalities$ | async; as modalities) {
  <!-- @if length -->

  <p-table
    [value]="modalities"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    editMode="row"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-modality>
      <tr [pEditableRow]="modality">
        <td>{{ modality.id }}</td>
        <td>
          {{ modality.name }}
        </td>
        <td class="text-center">
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="rowEditInit(modality)"
              class="p-button-rounded p-button-text"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
