<p-panel header="Cadastro de Professores">
  <form [formGroup]="teacherForm" (ngSubmit)="submit()">
    <div class="formgrid grid">
      <div class="field col">
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          pInputText
          formControlName="name"
          placeholder="Ex: Carlos Alberto"
          class="w-full"
          aria-describedby="teacher-name-error"
        />
        @if (teacherName.invalid && teacherName.dirty) {
          <small id="teacher-name-error" class="p-error">CEP inválido</small>
        }
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col-12 md:col-2">
        <button pButton class="p-button-primary" type="submit">Salvar</button>
      </div>
      <div class="field col-12 md:col-2">
        <button
          pButton
          class="p-button-primary"
          type="button"
          (click)="cancel()"
        >
          Cancelar
        </button>
      </div>
      @if (isEditing) {
        <div class="field col-12 md:col-2">
          <button
            pButton
            class="p-button-danger"
            type="button"
            (click)="remove()"
          >
            Remover
          </button>
        </div>
      }
    </div>
  </form>
</p-panel>
