<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="formgrid grid">
    <div class="field col">
      <label for="name">Nome</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        placeholder="Ex: Carlos Alberto"
        class="w-full"
        required
      />
    </div>

    <div class="field col">
      <label for="age">Idade</label>

      <input
        type="text"
        id="age"
        pInputText
        formControlName="age"
        placeholder="Ex: 19"
        [min]="0"
        [max]="99"
        class="w-full"
      />
    </div>
  </div>

  <div formGroupName="address">
    <div class="formgrid grid">
      <div class="field col-12 md:col-2">
        <label for="zipcode">CEP</label>

        <div class="p-inputgroup">
          <input
            id="zipcode"
            type="text"
            [maxLength]="9"
            pInputText
            formControlName="zipcode"
            placeholder="Ex: 13188021"
            class="w-full"
          />
          <button
            type="button"
            pButton
            icon="pi pi-search"
            styleClass="p-button-danger"
            (click)="searchBy()"
          > </button>
        </div>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="street">Rua</label>

        <input
          id="street"
          type="text"
          pInputText
          formControlName="street"
          placeholder="Ex: Rua dos Alfeneiros"
          class="w-full"
        />
      </div>

      <div class="field col-12 md:col-2">
        <label for="num">Número</label>

        <input
          id="num"
          type="text"
          pInputText
          formControlName="num"
          placeholder="Ex: 129"
          class="w-full"
        />
      </div>

      <div class="field col-12 md:col-6">
        <label for="neighborhood">Bairro</label>
        <input
          id="neighborhood"
          type="text"
          pInputText
          formControlName="neighborhood"
          placeholder="Ex: Jardim Amanda"
          class="w-full"
        />
      </div>
    </div>
  </div>

  <!-- <p-button label="Criar" type="submit" /> -->
  <button pButton type="submit">Criar</button>
</form>

